<div class="page-header">
  <h3>New Trial <small>{{#linkTo 'experiment.index' experiment}}{{experiment.name}}{{/linkTo}}</small></h3>
</div>

{{#unless participant}}
  <form class="form-inline">
    {{input value=query type=text}}
    <button type="submit" class="btn btn-primary" {{action search}}>Search Participant</button>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each participants}}
        <tr>
          <td>{{fullName}}</td>
          <td>
            <div class="pull-right">
              <button {{action selectParticipant this}} class="btn btn-mini btn-notice">Select Participant</button>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  {{participant.fullName}}
{{/unless}}

{{#if model.isCalibrating}}
  <h4>Calibrating</h4>
  <a href="#" class="btn btn-success" {{action run}}>Run</a>
  {{view App.DataAdapterGraphView dataAdapterBinding=dataAdapter}}
{{/if}}

{{#if model.isRunning}}
  {{view App.VideoTagView src='/videos/dizzy.mp4' remoteBinding=this}}
{{/if}}