<div class="page-header">
  <ul class="breadcrumb">
    <li>{{#linkTo 'experiments.index'}}Experiments{{/linkTo}}</li>
    <li>{{#linkTo 'experiment.index' experiment}}{{experiment.name}}{{/linkTo}}</li>
    <li class="active">New Trial</li>
  </ul>
</div>

{{#unless participant}}
  <div class="well">
    <h4>Select Participant</h4>

    <hr/>

    <form class="form-inline">
      {{input value=query type=text}}
      <button type="submit" class="btn btn-primary" {{action search}}>Search</button>
    </form>

    {{#if participants.length}}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each participants}}
            <tr>
              <td>{{fullName}}</td>
              <td>{{gender}}</td>
              <td>{{email}}</td>
              <td>
                <div class="pull-right">
                  <button {{action selectParticipant this}} class="btn btn-mini btn-info">
                    Select Participant <i class="icon-circle-arrow-right"></i>
                  </button>
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{/if}}

  </div>
{{/unless}}

{{#if model.isCalibrating}}
  <h4>Calibrating</h4>
  <a href="#" class="btn btn-success" {{action run}}>Run</a>
  {{view App.DataAdapterGraphView dataAdapterBinding=dataAdapter}}
{{/if}}

{{#if model.isRunning}}
  {{view App.VideoTagView src='/videos/dizzy.mp4' remoteBinding=this}}
{{/if}}