<div class="page-header">
  <ul class="breadcrumb">
    <li>{{#linkTo 'experiments.index'}}Experiments{{/linkTo}} <span class="divider">/</span></li>
    <li>{{#linkTo 'experiment.index' experiment}}{{experiment.name}}{{/linkTo}} <span class="divider">/</span></li>
    <li class="active">New Trial</li>
    <li class="pull-right">
      {{#if participant}}
        <i class="icon-user"></i> {{participant.fullName}}
      {{/if}}
    </li>
  </ul>
</div>

{{#unless participant}}
  <form class="form-inline">
    {{input value=query type=text}}
    <button type="submit" class="btn btn-primary" {{action search}}>Search Participant</button>
  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each participants}}
        <tr>
          <td>{{fullName}}</td>
          <td>
            <div class="pull-right">
              <button {{action selectParticipant this}} class="btn btn-mini btn-notice">Select Participant</button>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/unless}}

{{#if model.isCalibrating}}
  <h4>Calibrating</h4>
  <a href="#" class="btn btn-success" {{action run}}>Run</a>
  {{view App.DataAdapterGraphView dataAdapterBinding=dataAdapter}}
{{/if}}

{{#if model.isRunning}}
  {{view App.VideoTagView src='/videos/dizzy.mp4' remoteBinding=this}}
{{/if}}