<div class="row">
  <div class="col-lg-10">
    <h3>Status</h3>
  </div>
  <div class="col-lg-2">
  </div>
</div>

<hr/>

{{#unless connector.isConnected}}
  {{partial 'messaging/download_connector'}}
{{/unless}}

{{#if connector.isConnected}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Connector Information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-lg-4">Status</td>
        <td>
          {{#unless connector.isConnected}}
            <span class="label label-warning">{{connector.state}}</span>
          {{else}}
            <span class="label label-success">{{connector.state}}</span>
          {{/unless}}
        </td>
      </tr>
      <tr>
        <td>Device Name</td>
        <td>{{connector.device_name}}</td>
      </tr>
      <tr>
        <td>Connector Version</td>
        <td><code>{{connector.version}}</code></td>
      </tr>
    </tbody>
  </table>
{{/if}}

<table class="table table-striped">
    <thead>
      <tr>
        <th>User Information</th>
        <th>
          <div class="pull-right">
            <a {{action goToEditUser}} class="clickable">Change my details</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="col-lg-4">First Name</td>
        <td>{{currentUser.firstName}}</td>
      </tr>
      <tr>
        <td class="col-lg-4">Last Name</td>
        <td>{{currentUser.lastName}}</td>
      </tr>
      <tr>
        <td class="col-lg-4">Email</td>
        <td>{{currentUser.email}}</td>
      </tr>
      <tr>
        <td>Organization</td>
        <td>{{currentUser.organization}}</td>
      </tr>
      <tr>
        <td>Role</td>
        <td>{{currentUser.role}}</td>
      </tr>
    </tbody>
</table>

