<div class="page-header">
  <div class="pull-right">
    {{#unless connector.isConnected}}
      <a class="btn btn-success" {{action connect}}>Reconnect</a>
    {{/unless}}
  </div>

  <h3>Connector</h3>
</div>

{{#unless connector.isConnected}}
  <div class="alert alert-error">
    <strong>Could not find connector.</strong>
    Have you started the connector? Once it's running this message will go away.
  </div>
{{else}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Connector Information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Status</td>
        <td>
             {{#unless connector.isConnected}}
                <span class="label label-warning">{{connector.state}}</span>
             {{else}}
                <span class="label label-success">{{connector.state}}</span>
             {{/unless}}
        </td>
      </tr>
      <tr>
        <td>Device Name</td>
        <td>{{connector.device_name}}</td>
      </tr>
      <tr>
        <td>Connector Version</td>
        <td>{{connector.version}}</td>
      </tr>
    </tbody>
  </table>

  <a href="#" class="btn btn-mini btn-danger" {{action clear}}>Clear Repository</a>
{{/unless}}