<div class="page-header">
  <div class="pull-right">
    {{#unless connector.isConnected}}
      <a class="btn btn-success" {{action connect}}>Reconnect</a>
    {{/unless}}
  </div>

  <h2>{{connector.state}}</h2>
</div>

{{#unless connector.isConnected}}
  <div class="alert alert-error">
    <strong>Could not find connector.</strong>
    Have you started the connector? Once it's running this message will go away.
  </div>
{{else}}
  <table class="table">
    <thead>
      <tr>
        <th>Connector settings</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Device Name</td>
        <td>{{connector.device_name}}</td>
      </tr>
      <tr>
        <td>Device Version</td>
        <td>{{connector.version}}</td>
      </tr>
    </tbody>
  </table>
{{/unless}}