{{view App.VideoTagView srcBinding='view.src' viewName="videoView"}}

{{#unless view.videoView.isPlaying}}
  <a href="#" class="btn btn-small btn-success" {{action play target=view.videoView}}>
    <i class="icon-play"></i> Play</a>
{{else}}
  <a href="#" class="btn btn-small btn-warning" {{action pause target=view.videoView}}>
    <i class="icon-pause"></i> Pause</a>
{{/unless}}

{{#if view.videoView.supportsFullscreen}}
  <a href="#" class="btn btn-small" {{action fullscreen target=view.videoView}}>
    <i class="icon-fullscreen"></i> Fullscreen</a>
{{/if}}

<span class="label label-info">{{secondsToTime view.videoView.progress}}</label>