<div class="row">
  <div class="col-md-8">
    <%= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post, :class => 'form-horizontal' }) do |f| %>
      <%= devise_error_messages! %>

      <fieldset>
        <legend>Resend unlock instructions</legend>

        <div class="form-group">
          <label class="col-md-2 control-label"><%= f.label :email %></label>
          <div class="col-md-10">
            <%= f.email_field :email, :autofocus => true, :class => 'form-control' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit "Resend unlock instructions", :class => 'btn btn-primary' %>
          </div>
        </div>
      </fieldset>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= render "devise/shared/links" %>
  </div>
</div>