<div class="row">
  <div class="col-md-offset-6 col-md-4">
    <form class="form-inline" {{action search on="submit"}}>
      <div class="input-group">
        {{input value=query type=text class="form-control" type="text"}}
        <span class="input-group-btn">
          <button class="btn btn-default" type="button" {{bindAttr disabled="cannotSearch"}} {{action search}}>
            <i class="icon-search"></i> Search
          </button>
        </span>
      </div>
    </form>
  </div>
  <div class="col-md-2">
    {{#linkTo 'participants.new' class="btn btn-success pull-right"}}
      <i class="icon-plus"></i> New Participant
    {{/linkTo}}
  </div>
</div>

<hr/>

{{#unless content.isLoaded}}
  <div class="alert alert-info">
    Loading participants, please wait...
  </div>
{{else}}

  {{#if hasSearchResults}}
    {{#unless searchResults.length}}
      <div class="alert alert-info">
        There were no participants that matched '{{query}}'.
      </div>
    {{else}}
      {{render participants/table searchResults}}
    {{/unless}}
  {{/if}}

  {{#unless hasSearchResults}}
    {{#unless controller.length}}
      <div class="alert alert-info">
        There are currently no participants, would you like to
        {{#linkTo 'participants.new'}}add one now{{/linkTo}}?
      </div>
    {{else}}
      {{render participants/table controller}}
      {{partial 'shared/pager'}}
    {{/unless}}
  {{/unless}}

{{/unless}}