<div class="page-header">
  <div class="pull-right">
    {{#linkTo 'participants.new' class="btn btn-success"}}New Participant{{/linkTo}}
  </div>
  <h3>Participants</h3>
</div>

{{#unless content.isLoaded}}
  <div class="alert alert-info">
    Loading participants, please wait...
  </div>
{{else}}
  {{#unless controller.length}}
    <div class="alert alert-info">
      There are currently no participants, would you like to
      {{#linkTo 'participants.new'}}add one now{{/linkTo}}?
    </div>
  {{else}}
    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each controller}}
          <tr>
            <td>{{fullName}}</td>
            <td>{{email}}</td>
            <td>
              <div class="pull-right">
                {{#linkTo 'participant' this class="btn btn-mini btn-success"}}Details{{/linkTo}}
                <a href="#" class="btn btn-mini btn-danger" {{action destroy this}}>Delete</a>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/unless}}
{{/unless}}