<div class="row">
  <div class="col-lg-12 title">
    <h1>Biometrics in your browser.</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 text-center">
    <a href="http://www.avatareeg.com" target="_blank">
      <%= image_tag "avatareeg.jpg", id: "avatareeg-image" %>
    </a>
  </div>
  <div class="col-lg-4 text-center">
    <%= image_tag "data.png", id: "data-image" %>
  </div>
  <div class="col-lg-4 text-center">
    <%= image_tag "recordings.png", id: "recordings-image" %>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <h3>
      Connect biometrics right to your browser using the <a href="http://www.avatareeg.com" target="_blank">Avatar EEG</a>.
    </h3>
  </div>
  <div class="col-lg-4">
    <h3>
      Record your data while watching the stream in real time.
    </h3>
  </div>
  <div class="col-lg-4">
    <h3>
      Organize, share, and download your work from any computer.
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-lg-4">
    <p>
      The Avatar EEG is portable Bluetooth device suitable for research-grade EEG, EOG, EMG, and ECG on up to 8 channels. Using the <%= link_to 'Octopus Connector', connectors_url %>, you can stream data from the Avatar onto the Octopus Platform, directly from your browser.
    </p>
  </div>
  <div class="col-lg-4">
    <p>
      Using the Octopus Platform, you can observe live data from your device, create precise recordings, and mark up your work with metadata. Annotate your data with tags or associate them with profiles for test subjects.
    </p>
  </div>
  <div class="col-lg-4">
    <p>
      Keep your data in the cloud for easy access from any Web-enabled device. If you wish to keep data private, simply use the <%= link_to 'Local Storage', page_url('faq  ') %> mode so that it never leaves your machine.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
        <p>
      <%= link_to 'What devices does Octopus support?', page_url('faq', :anchor => "devices") %>&nbsp;
      <span class="call-to-action icon-chevron-right"></span>
    </p>
  </div>
  <div class="col-lg-4">
     <p>
      <%= link_to 'How do I run an experiment?', page_url('faq') %>&nbsp;
      <span class="call-to-action icon-chevron-right"></span>
    </p>
  </div>
  <div class="col-lg-4">
     <p>
       <%= link_to 'What is the difference between Cloud and Local Storage?', page_url('faq') %>&nbsp;
      <span class="call-to-action icon-chevron-right"></span>
    </p>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-6">
    <%= render :partial => 'feature', :locals => {
      :title => 'Browser Recording',
      :icon => 'icon-play-sign',
      :url => feature_url(:recording),
      :description => "No complicated client application to install, record right in your web browser."
      } %>
  </div>

  <div class="col-lg-6">
    <%= render :partial => 'feature', :locals => {
      :title => 'Device Drivers',
      :icon => 'icon-bolt',
      :url => feature_url(:drivers),
      :description => "We support a wide variety of devices with more coming all the time, just plug the device in and we'll do the rest."
      } %>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-6">
    <%= render :partial => 'feature', :locals => {
      :title => 'Cloud Storage',
      :icon => 'icon-cloud-download',
      :url => feature_url(:storage),
      :description => "Don't worry about storing your recordings, we'll do that for you in the cloud and make your data accessible from anywhere."
      } %>
  </div>

  <div class="col-lg-6">
    <%= render :partial => 'feature', :locals => {
      :title => 'Formats You Use',
      :icon => 'icon-copy',
      :url => feature_url(:formats),
      :description => "Need your data in csv? No problem. We support a variety of download formats so you can continue to use the tools you already use."
      } %>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col-lg-6">
    <%= render :partial => 'feature', :locals => {
      :title => 'Data Tagging and Searching',
      :icon => 'icon-tag',
      :url => feature_url(:tagging),
      :description => "Make your recordings searchable with tags and recording meta data."
      } %>
  </div>

  <div class="col-lg-6">
    <%= render :partial => 'feature', :locals => {
      :title => 'Subject Meta Data',
      :icon => 'icon-user',
      :url => feature_url(:meta_data),
      :description => "Store custom meta data on subjects and cross reference against recordings."
      } %>
  </div>
</div>