<div class="row">
	<div class="col-md-12 jumbotron">
		<div class="row">
			<div class="col-md-12">
				<h1>
					 Don't have access yet? Take a peek at the Octopus Beta user interface.
				</h1>
			</div>
		</div>

		<div id="myCarousel" class="carousel slide top-buffer">
		  <ol class="carousel-indicators badge text-center" style="width:200px;">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		    <li data-target="#myCarousel" data-slide-to="4"></li>
		    <li data-target="#myCarousel" data-slide-to="5"></li>
		    <li data-target="#myCarousel" data-slide-to="6"></li>
		    <li data-target="#myCarousel" data-slide-to="7"></li>
		    <li data-target="#myCarousel" data-slide-to="8"></li>
		    <li data-target="#myCarousel" data-slide-to="9"></li>
		  </ol>
		  <!-- Carousel items -->
		  <div class="carousel-inner">
		    <div class="active item">
		    	<%= image_tag "screenshots/screen0.png", class: "demo-screenshot" %>
		    </div>
		    <div class="item">
		    	<%= image_tag "screenshots/screen1.png", class: "demo-screenshot" %>
		    </div>
		    <div class="item">
		    	<%= image_tag "screenshots/screen2.png", class: "demo-screenshot" %>
		    </div>
		    <div class="item">
		    	<%= image_tag "screenshots/screen3.png", class: "demo-screenshot" %>
		    </div>
		    <div class="item">
		    	<%= image_tag "screenshots/screen4.png", class: "demo-screenshot" %>
		    </div>
		    <div class="item">
		    	<%= image_tag "screenshots/screen5.png", class: "demo-screenshot" %>
		    </div>
		    <div class="item">
		    	<%= image_tag "screenshots/screen6.png", class: "demo-screenshot" %>
		    </div>
		    <div class="item">
		    	<%= image_tag "screenshots/screen7.png", class: "demo-screenshot" %>
		    </div>
		    <div class="item">
		    	<%= image_tag "screenshots/screen8.png", class: "demo-screenshot" %>
		    </div>
		    <div class="item">
		    	<%= image_tag "screenshots/screen9.png", class: "demo-screenshot" %>
		    </div>
		  </div>
		  <!-- Carousel nav -->
		  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>

		<div class="row top-buffer">
			<div class="col-md-12">
				<ul class="list-group top-buffer">
				  <li class="list-group-item">
				  	<a href="mailto:brainiacs@octopusmetrics.com?subject=Contact Us">
				  		Ask us a question or get help
				  	</a>
				  	&nbsp;
 					<span class="call-to-action icon-chevron-right"></span>
				  </li>
				  <li class="list-group-item">
			  		<%= link_to 'Read our Frequently Asked Questions', page_url('faq') %>
			  		&nbsp;
						<span class="call-to-action icon-chevron-right"></span>
				  </li>
				</ul>

			</div>
		</div>
	</div>
</div>