<div class="page-header">
  <h2>New Theory</h2>
</div>

<form class="form-horizontal">
  <fieldset>
    <legend>Details</legend>
  </fieldset>

  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
     {{input value=model.name type=text}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Description</label>
    <div class="controls">
     {{input value=model.description type=text}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Media Type</label>
    <div class="controls">
      {{view Ember.Select
        contentBinding="App.Media.types"
        valueBinding="selectedMediaType"}}
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Media</label>
    <div class="controls">
      {{view Ember.Select
        prompt="Choose some media"
        contentBinding="availableMedia"
        valueBinding="selectedMedia"
        optionValuePath="content.id"
        optionLabelPath="content.name" }}
    </div>
  </div>

  <div class="form-actions">
    <button type="submit" class="btn btn-primary" {{action save}}>Save</button>
  </div>
</form>