<div class="row">
  <div class="col-lg-6">
    <h3>Recording <small>{{name}}</small></h3>
  </div>
  <div class="col-lg-6">
    <div class="pull-right">
      <button class="btn btn-primary" {{action edit}}>Edit</button>
      <button class="btn btn-info" {{action exportAsCsv}}>
        <i class="icon-download-alt"></i>&nbsp; Export CSV
      </button>
    </div>
  </div>
</div>

<hr/>

{{#unless isLoaded}}
  <div class="alert alert-info">
    Loading results, please wait...
  </div>
{{else}}

  {{#if recordingData.isLoaded}}
    {{view App.ResultDataGraphView resultDataBinding=recordingData taggingBinding=tagging}}
  {{/if}}

  {{#if tagging.extent}}
    <div class="well">
      <form class="form-horizontal">
        <fieldset>
          <legend>Tag {{tagging.from_ms}} - {{tagging.to_ms}}</legend>
          <div class="control-group">
            <label class="control-label">Tag Name</label>
            <div class="controls">
              {{input value=tagging.name type=text}}
            </div>
          </div>
        </fieldset>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary" {{action createTag}}>Create Tag</button>
        </div>
      </form>
    </div>
  {{/if}}

  {{#if description}}
    <blockquote>
      {{markdown description}}
    </blockquote>
  {{/if}}

  <table class="table table-condensed">
    <tbody>
      {{#each taggings}}
        <tr>
          <td>{{name}}</td>
          <td>{{fromMs}}</td>
          <td>{{toMs}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <table class="table table-condensed">
    <thead>
      <tr>
        <th colspan="2">Properties</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{dataFileName}}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>{{dataFileSize}}</td>
      </tr>

      {{#if recordingData.isLoaded}}
        <tr>
          <td>data type</td>
          <td>{{recordingData.dataType}}
        </tr>
        <tr>
          <td>format version</td>
          <td>{{recordingData.formatVersion}}
        </tr>
        <tr>
          <td>storage mode</td>
          <td>{{recordingData.storageMode}}
        </tr>
        <tr>
          <td>channels</td>
          <td>{{recordingData.channels}}
        </tr>
        <tr>
          <td>samples</td>
          <td>{{recordingData.samples}}
        </tr>
        <tr>
          <td>sample rate</td>
          <td>{{recordingData.sampleRate}}
        </tr>
      {{/if}}

    </tbody>
  </table>
{{/unless}}
