<div class="navbar navbar-static-top">
  <div class="navbar-inner">
    {{#linkTo 'index' class='navbar-brand'}}Octopus{{/linkTo}}

    {{render 'navigation'}}
  </div>
</div>

<div class="container">
  {{#unless currentUser.isSignedIn}}
    <div class="flash">
      <div class="alert alert-error">
        You must be <a href="#" {{action goToSignIn}}>signed in</a> to use octopus.
      </div>
    </div>
  {{else}}
    {{outlet}}
  {{/unless}}
</div>

{{#if currentUser.isSignedIn}}
  <div class="container">
    <footer>
      <small>
        signed in as {{currentUser.email}}/{{currentUser.role}}<br/>
        &copy; octopus 2013
      </small>
    </footer>
  </div>
{{/if}}