<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    {{#linkTo 'index' class='brand'}}Octopus{{/linkTo}}

    {{#if currentUser.isSignedIn}}
      <ul class="nav">
        {{#linkTo 'theories.index' tagName='li'}}
          {{#linkTo 'theories.index'}}Theories{{/linkTo}}
        {{/linkTo}}

        {{#linkTo 'recordings.index' tagName='li'}}
          {{#linkTo 'recordings.index'}}Recordings{{/linkTo}}
        {{/linkTo}}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Media <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            {{#linkTo 'videos.index' tagName='li'}}
              {{#linkTo 'videos.index'}}Videos{{/linkTo}}
            {{/linkTo}}

            {{#linkTo 'slideshows.index' tagName='li'}}
              {{#linkTo 'slideshows.index'}}Slideshows{{/linkTo}}
            {{/linkTo}}
          </ul>
        </li>
      </ul>

      <div class="pull-right">
          {{#linkTo 'settings.index' class='btn btn-inverse'}}
            <i class="icon-cog icon-inverse"></i>
          {{/linkTo}}
          {{render "shared/connector_widget" connector}}
      </div>
    {{/if}}
  </div>
</div>

<div class="container">
  {{#unless currentUser.isSignedIn}}
    <div class="alert alert-error">
      You must be <a href="/users/sign_in">signed in</a> to use octopus.
    </div>
  {{else}}
    {{outlet}}
  {{/unless}}
</div>

{{#if currentUser.isSignedIn}}
  <div class="container">
    <footer>
      <small>
        signed in as {{currentUser.email}}/{{currentUser.authenticationToken}}<br/>
        &copy; octopus 2013
      </small>
    </footer>
</div>
{{/if}}