<div class="page-header">
  <ul class="breadcrumb">
    <li>{{#linkTo 'participants.index'}}Participants{{/linkTo}}</li>
    <li class="active">{{fullName}}</li>
  </ul>
</div>

<h4>Details</h4>

<table class="table table-striped table-condensed">
  <tbody>
    <tr>
      <td><strong>First Name</strong></td>
      <td>{{firstName}}</td>
    </tr>
    <tr>
      <td><strong>Last Name</strong></td>
      <td>{{lastName}}</td>
    </tr>
    <tr>
      <td><strong>Gender</strong></td>
      <td>{{gender}}</td>
    </tr>
    <tr>
      <td><strong>Email</strong></td>
      <td>{{email}}</td>
    </tr>
    <tr>
      <td><strong>Birthday</strong></td>
      <td>{{birthday}}</td>
    </tr>
    <tr>
      <td><strong>Age</strong></td>
      <td>{{age}}</td>
    </tr>
    {{#each properties}}
      <tr>
        <td><strong>{{name}}</strong></td>
        <td>{{value}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#unless recordings}}
  <div class="alert alert-info">
    This participant has no recordings.
  </div>
{{else}}
  <table>
    <thead></thead>
    <tbody>
      {{#each recordings}}
        <tr>
          <td>{{timeSince createdAt}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/unless}}