<div class="page-header">
  <h3>Recording</h3>
</div>

{{#unless result.isLoaded}}
  <div class="alert alert-info">
    Loading results, please wait...
  </div>
{{else}}
  <table class="table">
    <thead>
      <tr>
        <th colspan="2">Properties</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{result.data_file_name}}</td>
      </tr>
      <tr>
        <td>Size</td>
        <td>{{result.data_file_size}}</td>
      </tr>
    </tbody>
  </table>

  {{#if result.data.isLoaded}}

    <table class="table">
      <tbody>
        <tr>
          <td>data type</td>
          <td>{{result.data.dataType}}
        </tr>
        <tr>
          <td>format version</td>
          <td>{{result.data.formatVersion}}
        </tr>
        <tr>
          <td>storage mode</td>
          <td>{{result.data.storageMode}}
        </tr>
        <tr>
          <td>channels</td>
          <td>{{result.data.channels}}
        </tr>
        <tr>
          <td>samples</td>
          <td>{{result.data.samples}}
        </tr>
        <tr>
          <td>sample rate</td>
          <td>{{result.data.sampleRate}}
        </tr>
      </tbody>
    </table>

  {{/if}}
{{/unless}}
