{{partial 'recordings/header'}}

{{#unless controller.length}}
  <div class="alert alert-info">
    There are no recordings.
  </div>
{{else}}
  <table class="table table-striped table-hover table-list">
    <thead>
      <tr>
        <th>Created At</th>
        <th>Owner</th>
        <th>Name</th>
        <th>Participant</th>
        <th>Tags</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each controller}}
        {{#linkTo 'recording.cloud' this tagName="tr" class="clickable" classNameBindings=this.state}}
          <td>
            {{#if isUploading}}
              <img src="/assets/spinner_16.gif" /> <small>uploading</small>
            {{else}}
              <small>{{timeSince createdAt}}</small>
            {{/if}}
          </td>
          <td><small>{{owner}}</small></td>
          <td>{{name}}</td>
          <td>
            {{#if participant}}
              {{#linkTo 'participant' participant tagName='span' class='label label-info clickable'}}
                <i class="icon-user"></i> {{participant.fullName}}
              {{/linkTo}}
            {{/if}}
          </td>
          <td>
            {{#if taggings.length}}
              <span class="label label-info">
                <i class="icon-tag"></i>&nbsp;{{taggings.length}}
              </span>
            {{/if}}
          </td>
          <td>
            <div class="pull-right">
              <a href="#" class="btn btn-table btn-danger" {{action destroy this bubbles=false}}>
                <i class="icon-trash"></i>
              </a>
            </div>
          </td>
        {{/linkTo}}
      {{/each}}
    </tbody>
  </table>

  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
{{/unless}}