{{partial 'recordings/header'}}

{{#unless connector.isConnected}}
  {{partial messaging/download_connector}}
{{else}}
  {{#unless controller.length}}
    <div class="alert alert-info">
      There are no recordings.
    </div>
  {{else}}
    <table class="table table-striped table-hover table-list">
      <thead>
        <tr>
          <th>Created At</th>
          <th>File</th>
          <th>Size</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each controller}}
          {{#linkTo 'recording.local' this tagName='tr' class='clickable'}}
            <td>
              <small>{{timeSince lastModified}}</small>
            </td>
            <td><code>{{file}}</code></td>
            <td><span class="file-size">{{sizeBytes}}</span></td>
            <td>
              <div class="pull-right">
                <a href="#" rel="tooltip" title="Upload this recording to the cloud" class="btn btn-table btn-success" {{action upload this bubbles=false}}>
                  <i class="icon-cloud-upload"></i>
                </a>
                <a href="#" class="btn btn-table btn-danger" {{action destroy this bubbles=false}}>
                  <i class="icon-trash"></i>
                </a>
              </div>
            </td>
          {{/linkTo}}
        {{/each}}
      </tbody>
    </table>
  {{/unless}}
{{/unless}}