{{partial 'recordings/header'}}

{{#unless controller.length}}
  <div class="alert alert-info">
    There are no recordings.
  </div>
{{else}}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>File</th>
        <th>Last Modified</th>
        <th>Size</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each controller}}
        <tr>
          <td>{{file}}</td>
          <td>{{lastModified}}</td>
          <td>{{sizeBytes}}</td>
          <td>
            <div class="pull-right">
              {{#linkTo 'recording' this class='btn btn-mini btn-success'}}Explore{{/linkTo}}
              <a href="#" class="btn btn-mini btn-danger" {{action destroy this}}>Delete</a>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{/unless}}