<div class="page-header">
  <div class="pull-right">

    {{#if model.canUpload}}
      <a {{action upload}} class="btn btn-success">
        <i class="icon-upload"></i> Upload
      </a>
    {{/if}}

    {{#unless dataAdapter.isRunning}}
      <a {{action start}} class="btn btn-info">Start</a>
    {{else}}
      {{#unless model.isRecording}}
        <a {{action beginRecord}} class="btn btn-danger">
          <i class="icon-circle"></i> Record
        </a>
      {{else}}
        <a {{action endRecord}} class="btn btn-danger">
          <i class="icon-circle"></i> End
        </a>
      {{/unless}}
      <a {{action stop}} class="btn btn-warning">Stop</a>
    {{/unless}}
  </div>
  <h2>
    New Recording
  </h2>
</div>
{{#unless dataAdapter.isRunning}}
  {{#unless   dataAdapter.didRun}}
  <div class="hero-unit text-center">
    <p>
      Press start to begin streaming.
    </p>    
  </div>
  {{/unless}}
{{else}}
  <div class="well-small">
    Channels: <span class="label label-info">{{dataAdapter.channels}}</span> Graph Resolution:  <span class="label label-info">{{dataAdapter.resolution}} hz</span> Frames: <span class="label label-info">{{dataAdapter.receivedFrames}}</span>
  </div>
{{/unless}}
{{view App.DataAdapterGraphView dataAdapterBinding=dataAdapter}}