<div class="row">
  <div class="col-md-offset-10 col-md-2">
    {{#linkTo 'experiments.new' class="btn btn-success pull-right"}}
      <i class="icon-plus"></i> New Experiment
    {{/linkTo}}
  </div>
</div>

<hr/>

{{#unless canStartTrials}}
  <div class="alert alert-warning">
    Can't start trials until the connector has been started.
  </div>
{{/unless}}

{{#unless content.isLoaded}}
  <div class="alert alert-info">
    Loading experiments, please wait...
  </div>
{{else}}
  {{#unless controller.length}}
    <div class="alert alert-info">
      There are currently no experiments, would you like to
      {{#linkTo 'experiments.new'}}add one now{{/linkTo}}?
    </div>
  {{else}}
    <table class="table table-striped table-condensed table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Owner</th>
          <th>Created At</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {{#each controller}}
          {{#linkTo 'experiment.index' this tagName='tr' class='clickable'}}
            <td>{{name}}</td>
            <td>{{owner}}</td>
            <td>{{timeSince created_at}}</td>
            <td>
              <div class="pull-right">
                {{#linkTo 'trial.start' this class="btn btn-table btn-success"}}Start Trial{{/linkTo}}
                <button class="btn btn-table btn-danger" {{action destroy this bubbles='false'}}>
                  Delete
                </button>
              </div>
            </td>
          {{/linkTo}}
        {{/each}}
      </tbody>
    </table>
  {{/unless}}
{{/unless}}