<div class="page-header">
  <div class="pull-right">
    {{#unless isRunning}}
      <a {{action start}} class="btn btn-success">Start</a>
    {{else}}
      <a {{action stop}} class="btn btn-danger">Stop</a>
    {{/unless}}
  </div>
  <h2>
    Experiments

    {{#if isRunning}}
      <small>
        Reading {{dataAdapter.channels}} channels @ 
        resolution of {{dataAdapter.resolution}}ms {{pointsDrawn}}
      </small>
    {{/if}}
  </h2>
</div>

{{view Ember.Select contentBinding="dataAdapters" valueBinding="selectedDataAdapter"}}

<div id="graphs-container"></div>