<ul class="breadcrumb">
  <li>{{#linkTo 'experiments.index'}}Experiments{{/linkTo}}</li>
  <li class="active">New Experiment</li>
</ul>

<form class="form-horizontal">
  <fieldset>
    <legend>Details</legend>
  </fieldset>

  <div class="form-group">
    <label class="col-md-2 control-label">Name</label>
    <div class="col-md-4">
      {{input value=model.name type=text class='form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Description</label>
    <div class="col-md-4">
      {{input value=model.description type=text class='form-control'}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Media Type</label>
    <div class="col-md-4">
      {{view Ember.Select
        contentBinding="App.Media.types"
        valueBinding="selectedMediaType"
        class="form-control"}}
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Media</label>
    <div class="col-md-4">
      {{view Ember.Select
        prompt="Choose some media"
        contentBinding="availableMedia"
        valueBinding="selectedMedia"
        optionValuePath="content.id"
        optionLabelPath="content.name"
        class="form-control"}}
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-primary" {{action save}}>Create Experiment</button>
    </div>
  </div>
</form>