<!DOCTYPE html>
<html>
  <head>
    <title>Octopus</title>
    <%= stylesheet_link_tag    "application/application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="<%= image_path "favicon.png" %>" />
  </head>
  <body>

    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <%= link_to 'Octopus', root_url, class: 'brand' %>
        <ul class="nav">
        </ul>

        <div class="pull-right">
          <% if user_signed_in? %>
            <%= link_to 'sign out', destroy_user_session_url, :method => :delete, :class => 'btn btn-info'  %>
          <% else %>
            <div class="btn-group">
              <%= link_to 'sign up', new_user_registration_url, :class => "btn" %>
              <%= link_to 'sign in', new_user_session_url, :class => "btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <% if flash[:notice] %>
        <div class="flash alert alert-notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="flash alert alert-error">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>