<!DOCTYPE html>
<html>
  <head>
    <title>Octopus</title>
    <%= stylesheet_link_tag    "application/application", media: "all" %>
    <%= javascript_include_tag "application" %>

    <%= csrf_meta_tags %>

    <link rel="shortcut icon" href="<%= image_path "favicon.png" %>" />
  </head>
  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <%= link_to 'Octopus', root_url, class: 'navbar-brand' %>

        <ul class="nav navbar-nav"></ul>

        <div class="pull-right">
          <% if user_signed_in? %>

            <% if current_user.role == 'admin' %>
              <%= link_to '<span class="icon-rocket"></span>&nbsp;Launch Octopus'.html_safe, octopus_index_url, class: 'btn btn-primary navbar-btn' %>
            <% end %>

            <%= link_to 'sign out', destroy_user_session_url, :method => :delete, :class => 'btn btn-info navbar-btn'  %>
          <% else %>
            <%= link_to 'sign up', new_user_registration_url, :class => "btn btn-default navbar-btn" %>
            <%= link_to 'sign in', new_user_session_url, :class => "btn btn-default navbar-btn" %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="container">
      <% if flash[:notice] %>
        <div class="flash alert alert-notice">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:alert] %>
        <div class="flash alert alert-error">
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>

      <footer>
        <div class="pull-right">
          <%= link_to 'Contact Us', page_path('contact_us') %> |
          <%= link_to 'FAQ', page_path('faq') %>
        </div>

        Copyright &copy; 2013. East River Labs. All rights reserved.<br/>
        AvatarEEG is a registered trademark of Avatar EEG Solutions, Inc.
      </footer>
    </div>
  </body>
</html>